.bio-wrapper {
  background-color: #fff;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: center;
  /*align-items: center;*/
  height: 600px;
  width: 100vw;
  padding-top: 50px;
}

.bio-box {
  height: 20vh;
  width: 30vw;
}

.bio-content p {
  /*font-family: 'futura';*/
  font-family: Arial,"Helvetica Neue",Helvetica,sans-serif;
  font-size: 1em;
  font-weight: 100;
  color: #000;
}
.bio-content span {
  color: lightgray;
}

.devitar {
  height: 300px;
  width: auto;
/*>>>>>>> dev2*/
  /*border: 2px solid #356576;*/
  margin: 0 1.20em 0 0;
  /*text-align: justify;*/
  /*box-shadow: 1px 1px 1px 1px rgba(0, 0, 0, 0.1);*/
  /*box-shadow: inset;*/
}
