.bio-wrapper {
  background-color: #fff;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  /*padding: 1em 10em 0 5em;*/
  height: 600px;
  width: 100vw;
  background-color: #ffffff;
}

.bio-box {
  /*display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;*/
  height: 20vh;
  width: 40vw;
  /*padding: 1em 3em 0 0;*/
}

.bio-content span {
  color: lightgray;
}

.bio-content p {
  /*font-family: 'futura';*/
  font-family: Arial,"Helvetica Neue",Helvetica,sans-serif;
  font-size: 1em;
  font-weight: 100;
  color: #000;
}

.devitar {
  height: 200px;
  width: 200px;
  /*border: 2px solid #356576;*/
  float: left;
  margin: 0 1.20em 0 0;
  text-align: justify;
  box-shadow: 1px 1px 1px 1px rgba(0, 0, 0, 0.1);
  box-shadow: inset;
}
