* {
  box-sizing: border-box;
}

.title {
  font-family: 'futura';
  color: #fff;
  text-align: center;
  /*fill: lightblue;
  stroke: black;*/
  /*stroke-width: 10em;  */
}

.name {
  font-size: 2.5em;
}

.dev {
  font-size: 4em;
}

.dev-type {
  font-size: 1.5em;
}

.blue-space {
  height: 250px;
  width: 100vw;
  background-color: lightblue;
}

.blue-space-sm {
  height: 175px;
  width: 100vw;
  background-color: lightblue;
}

.background-projects {
  background-color: #f6f6f6;
}

.background-logos {
  background-color: #ffffff;
}

.background-tech-stack {
  background-color: #e7f5fe;
}

#nav {
	color: #fff;
}

#nav li {
	color: #fff;
}

.nav-menu {
  font-size: 1.35em;
  font-family: 'futura';
  margin-top: 9px;
  color: white;
  /*color: #000;*/
}



/*.space-thin {
  height: 75px;
  width: 100vw;
  background-color: #f1f1f1;
}*/

/*.space-medium {
  height: 110px;
  width: 100vw;
  background-color: #f1f1f1;
}

.space-sm {
  height: 30px;
  width: 100vw;
  background-color: #0B5278;
}*/

.nav-style {
  font-size: 1em;
  font-family: 'futura';
  color: #fff;
}

/*----------------
Thumbnails
------------------*/
#thumbnail-grid {
  background-color: #f6f6f6;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
}

#thumbnail-inner {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  height: 80%;
  width: 100vw;
  padding: 5em 0em 5em 0em;
}

#thumbnail-inner2 {
  background-color: #ffffff;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  height: 80%;
  width: 100wv;
  padding: 5em 0em 5em 0em;
}

.project-heading {
  margin-top: 1em;
}

.thumbnails:hover {
  cursor: pointer;
  opacity: 0.6;
  transform: scale(1.010);
  transition: all 0.5s;
}

.thumbnails {
  margin: .50em;
  padding: 0;
  border: 1px solid lightgray;
}

.thumb-1 {
  align-self: auto;
}

.thumb-2 {
  align-self: auto;
}

.thumb-3 {
  align-self: auto;
}

.thumb-4 {
  align-self: auto;
}

.thumb-5 {
  align-self: auto;
}

.thumb-6 {
  align-self: auto;
}

.thumb-7 {
  align-self: auto;
}

.thumb-8 {
  align-self: auto;
}

.thumb-9 {

}

/*----------------
logos
------------------*/

.logos {
  width: 60%;
  height: auto;
}

.jhlogo-show {
  margin: 0 40px 40px 40px;
}

.slcnet {
  margin: 0 40px 40px 40px;
}

/*----------------
icons
------------------*/

.icons {
  width: 60%;
  height: auto;
  margin: .5em;
}

/*----------------
Tech Stack
------------------*/

#icon-grid {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  padding: 5em 1em 5em 1em;
  height: 80%;
  width: 100vw;
}

.icon-1 {
  align-self: auto;
}

.icon-2 {
  align-self: auto;
}

.icon-3 {
  align-self: auto;
}
.icon-4 {
  align-self: auto;
}

.icon-5 {
  align-self: auto;
}

.icon-6 {
  align-self: auto;
}
.icon-7 {
  align-self: auto;
}

.icon-8 {
  align-self: auto;
}

.icon-9 {
  align-self: auto;
}

/*----------------
Footer
------------------*/

.footer-container {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  /*padding: 5em 5em;*/
  height: 45vh;
  width: 100%;
  background-color: #4D91A9;
}





span {
  font-size: 1.05em;
}

.contact-container {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  height: 100%;
  width: 50%;
}

.m-icons {
  height: 3em;
  width: 3em;
  margin: .55em;
}

.m-icons:hover {
  transform: scale(1.175);
  transition: all 0.45s;
}

.m-icon1 {

}

.m-icon2 {

}

.m-icon3 {

}

.m-icon4 {

}

.sub-footer {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: center;
  align-content: center;
  background-color: #4D91A9;
  height: 3em;
  width: 100%;
  color: #fff;
  font-size: 0.85em;
  font-family: Arial,"Helvetica Neue",Helvetica,sans-serif;
  padding: 1em;
}

.sub-footer p {
  margin: -20px;
}
