/*@media (max-width: 450px) {
  body {
    background: skyblue;
    color: brown;
  }
}

@media (min-width: 800px) {
  body {
    background: skyblue;
    color: brown;
  }

  a {
    color: brown;
  }
}

@media (min-width: 450px) and (max-width: 800px){
  body {
    font-family: sans-serif;
    }
}

@media print {
  body {
    background: white;
    color: black;
  }

  a {
    color: black;
  }
}*/
