/*----------------
modules
-----------------*/



/*.navbar-header {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: flex-end;
  align-items: flex-end;
}*/

/*.navbar--brand {
  display: flex;

  /*flex-direction: row;
  flex-wrap: wrap;
  justify-content: flex-start;
  align-items: flex-start;*/
}



.menu-item {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: center;
  align-content: center;
  align-self: flex-end;
  margin: 20px 20px 0px 0px;
  padding: 10px;
  /*border: 3px solid #fff;*/
}



.thumbnail_layout_right
{
	float: right;
	size: auto;
}

.thumbnail_layout_left
{
	float: left;
	size: auto;
}
