/*----------------
modules
-----------------*/

#navbar_plus
{
	background: #fff;
	/*border-bottom: 3px thin lightblue;
	box-shadow: 1px 1px 1px 1px rgba(0, 0, 0, 0.1);
	box-shadow: inset;*/
 	margin: 0;
	/*padding-bottom: 5px;*/
	height: 9%;
	padding-right: 25px;
	/*opacity: 0.9;*/
	color: #146CA6;
}

.thumbnail_layout_right
{
	float: right;
	size: auto;
}

.thumbnail_layout_left
{
	float: left;
	size: auto;
}
