/*----------------
modules
-----------------*/

#navbar_plus
{
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content:space-between;
  align-items: center;
  margin-top: 15px;
  width: 100vw;
  /*background-color: transparent;
  background: transparent;*/
  border-width: 0px;
}

.navbar {
  background-color: transparent;
  background: transparent;
  border-width: 0px;
}

/*.navbar-header {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: flex-end;
  align-items: flex-end;
}*/

/*.navbar--brand {
  display: flex;

  /*flex-direction: row;
  flex-wrap: wrap;
  justify-content: flex-start;
  align-items: flex-start;*/
}

.logo-item {
  align-self: flex-start;
  margin: 0px 50px 0px 50px;
}

.menu-item {
  align-self: flex-end;
  margin: 0px 50px 0px 50px;
}

.thumbnail_layout_right
{
	float: right;
	size: auto;
}

.thumbnail_layout_left
{
	float: left;
	size: auto;
}
