.container-projects {
  display: grid;
  grid-template-columns: auto 250px 250px 250px auto;
  grid-template-rows: 75px 250px 250px 75px;
  background-color: #f1f1f1;
  padding: 40px;
}

.header-projects {
  grid-column-start: 2;
  grid-column-end: 5;
  grid-row-start: 1;
  grid-row-end: 2;
  background-color: #f1f1f1;
}

.header-projects p {
  color: #2F2F4F;
  font-size: 3em;
  text-align: center;
}
